In [1]:
import numpy as np
import pandas as pd
from mongo import mongo_driver

valid_query = 'engr 1510 mep-orientation'

def relative_dept_rating_figure(valid_uuid):
        '''
        This function will build the json for the response to build the relative department rating figure 
        (2nd from top on the left side). The json has structure given in schema.json, for this rating.
        
        Inputs: valid_uuid - a validated uuid from the 'uuid' field in the dataframe

        '''
        db = mongo_driver()
        coll = db.get_db_collection('reviews-db', 'aggregated_gcoe_sp18')
        cursor = coll.find({'uuid':valid_uuid})
        df =  pd.DataFrame(list(cursor))
        return df
        
        
df = relative_dept_rating_figure()
df.head()

,Avg Course Rating,Avg Department Rating,Avg Instructor Rating In Section,College Code,Course Number,Course Title,Instructor First Name,Instructor ID,Instructor Last Name,Num Responses,Queryable Course String,SD Course Rating,SD Department Rating,SD Instructor Rating In Section,Subject Code,Term Code,_id,uuid
0,4.753538,4.397952,4.753538,EN,2303,Design & Manufacturing Process,Owen,112122188,Dodd,145,ame 2303 design & manufacturing process,0.485624,0.946552,0.485624,AME,201720,5c4686c80940d606891d73ab,NaN
1,3.330715,4.397952,3.181429,EN,2533,Dynamics,Kurt,112130351,Gramoll,35,ame 2533 dynamics,1.317329,0.946552,1.375433,AME,201720,5c4686c80940d606891d73ac,NaN
2,3.330715,4.397952,3.480001,EN,2533,Dynamics,Alfred,112113409,Striz,35,ame 2533 dynamics,1.317329,0.946552,1.238678,AME,201720,5c4686c80940d606891d73ad,NaN
3,4.452382,4.397952,4.452382,EN,2623,Circuits and Sensors,Clifford,112123631,Fitzmorris,21,ame 2623 circuits and sensors,0.669517,0.946552,0.669517,AME,201720,5c4686c80940d606891d73ae,NaN
4,4.361916,4.397952,4.273328,EN,3103,Interactv Engr Design Simu,James,112113526,Baldwin,145,ame 3103 interactv engr design simu,0.817977,0.946552,0.911372,AME,201720,5c4686c80940d606891d73af,NaN